<app-contents>
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Top Navigation
                <small>Example 2.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Layout</a></li>
                <li class="active">Top Navigation</li>
            </ol>
        </section>

        <section class="content">
            <div class="login-box">
                <div class="login-logo">
                    <a href="../../index2.html"><b>Admin</b>LTE</a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg">Sign in to start your session</p>

                    <form (submit)="onSubmit()" [noValidate]="false">
                        <div class="form-group has-feedback">
                            <input class="form-control" id="username" [(ngModel)]="modelInsert.username" name="username"
                                type="text" placeholder="ชื่อผู้ใช้" required>
                            <!-- <input type="text" class="form-control" placeholder="ชื่อผู้ใช้"> -->
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input [(ngModel)]="modelInsert.password" name="password" type="password"
                                class="form-control" placeholder="รหัสผ่าน" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox"> Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.login-box-body -->
            </div>
        </section>
        <!-- /.content -->
    </div>
</app-contents>